{{!-- The following component displays Ember's default welcome message. --}}
<nav class="navbar navbar-dark bg-primary">
  <a class="navbar-brand" href="#">Guess What ?</a>
</nav>
{{!-- Feel free to remove this! --}}

{{outlet}}